.home > p{
    color: black;
    padding: 10px;
}

.home > img{
    width: 100%;
    margin-top: -210px;

}

h1{
    text-align: center;
    z-index: 1;
    position: absolute;
    color: white;
    left: 50%;
}

footer{
    margin-top: -5px;
}

.home > h3{
    padding: 10px;
}